# Local Netlify folder
.netlify/

# Firebase debug log
firebase-debug.log

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# Others
.DS_Store
Thumbs.db

